.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #22223B;
   color: white;
   padding: 10px 20px;
   box-shadow: 0 2px 4px rgba(255, 251, 251, 0.2);
 }
 
 .header a {
   margin: 0;
   font-size: 1.8em;
   color: #e5e7eb;
   text-decoration: none;
   margin-left: 50px;
 }
 
 .header nav {
   flex: 1;
   display: flex;
   justify-content: center;
 }
 
 .header nav a {
   margin: 0 20px;
   color: #e5e7eb;
   text-decoration: none;
   font-weight: bold;
   font-size: 1.1em;
   transition: color 0.3s;
 }
 
 .header nav a:hover {
   color: #ffd700; /* Highlight on hover */
 }
 
 .header-icons {
   display: flex;
   gap: 15px;
 }
 
 .header-icons span {
   font-size: 1.3em;
   cursor: pointer;
 }

.header-icons a{
   font-size: 1em;
   /* padding:10px;
   box-shadow:0 0 1px #11b019;
   border-radius: 5px; */
 }
 