.sidebar {
   width: 60px; /* Default collapsed width */
   background-color: #22223B;
   color: #e5e7eb;
   height: 93vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   transition: width 0.3s ease;
   /* justify-content: space-between; */
 }
 
 .sidebar:hover {
   width: 200px; /* Expand the sidebar on hover */
}

.sidebar-list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.menu-item {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 15px;
   font-size: 16px;
   color: #fff;
   transition: background-color 0.2s ease;
 }
 
 .menu-item a {
   min-width: 30px; /* Ensure consistent spacing for icons */
   font-size: 18px;
   text-align: center;
 }

 a {
   text-decoration: none !important;
 }
 

 .menu-text {
   padding: 5px;
   opacity: 0; /* Hide text initially */
   transition: opacity 0.3s ease;
 }
 
 .sidebar:hover .menu-text {
   opacity: 1; /* Show text when sidebar is expanded */
 }
 
 .menu-item:hover {
   background-color: #8d4f4f;
 }
 
 .auth{
   bottom: 10px;
   position: fixed;
 }
 