/* General styles */
body {
   margin: 0;
   font-family: Arial, sans-serif;
 }
 
 .container {
   max-width: 1024px;
   margin: 0 auto;
   padding: 2rem 1rem;
 }
 
 .wallet-balance {
   background-color: #2d3748; /* bg-gray-800 */
   border-radius: 0.75rem;
   padding: 1.5rem;
   margin-bottom: 2rem;
   text-align: center;
 }
 
 .wallet-balance h2 {
   font-size: 1.5rem;
   font-weight: 700;
   color: #ffffff; /* text-white */
   margin-bottom: 1rem;
 }
 
 .wallet-balance .balance-amount {
   font-size: 2.5rem;
   font-weight: 700;
   color: #48bb78; /* text-green-400 */
   margin-bottom: 1.5rem;
 }
 
 .wallet-balance .button-group {
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
   gap: 1rem;
 }
 
 .wallet-balance .button {
   background-color: #747dd1; /* bg-indigo-600 */
   color: #ffffff;
   padding: .5rem;
   max-width: 200px;
   border-radius: 0.375rem;
   cursor: pointer;
   transition: background-color 0.3s;
 }
 
 .wallet-balance .button:hover {
   background-color: #4c51bf; /* hover:bg-indigo-700 */
 }
 
 /* Input styles */
 .wallet-balance .input-container {
   display: flex;
   justify-content: center;
   justify-content: space-around;
   margin-top: 1rem;
   /* padding: 0px; */
 }
 
 .wallet-balance .custom-amount-input {
   padding: 0.2rem;
   height: 40px;
   border: 1px solid #cbd5e0; /* border-gray-300 */
   border-radius: 0.375rem;
   width: 150px;
   text-align: center;
 }
 
 .wallet-balance .custom-amount-input:focus {
   outline: none;
   border-color: #5a67d8; /* focus:border-indigo-500 */
   box-shadow: 0 0 0 2px rgba(90, 103, 216, 0.5); /* focus:ring-indigo-500 */
 }
 
 .transaction-history {
   background-color: #2d3748; /* bg-gray-800 */
   border-radius: 0.75rem;
   padding: 1.5rem;
 }
 
 .transaction-history h3 {
   font-size: 1.25rem;
   font-weight: 700;
   color: #ffffff; /* text-white */
   margin-bottom: 1rem;
 }
 
 .transaction-history .transaction {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.75rem 1rem;
   background-color: #4a5568; /* bg-gray-700 */
   border-radius: 0.5rem;
   margin-bottom: 0.5rem;
 }
 
 .transaction-history .transaction:last-child {
   margin-bottom: 0;
 }
 
 .transaction-history .transaction .type {
   font-weight: 600;
   color: #ffffff; /* text-white */
 }
 
 .transaction-history .transaction .date {
   font-size: 0.875rem;
   color: #a0aec0; /* text-gray-400 */
 }
 
 .transaction-history .transaction .amount {
   font-weight: 600;
 }
 
 .transaction-history .transaction .amount.positive {
   color: #48bb78; /* text-green-400 */
 }
 
 .transaction-history .transaction .amount.negative {
   color: #f56565; /* text-red-400 */
 }
 