/* Main app container */
.app-container {
  display: flex;
  height: 93vh;
  font-family: Arial, sans-serif;
  background-color: #111827;
}

/* Sidebar always fixed */
.sidebar {
  /* position: fixed; */
  top: 20;
  left: 10;
}

/* Main content (Content area beside Sidebar) */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #111827;
  transition: margin-left 0.3s ease; /* Smooth adjustment */
  overflow-y: auto;
}

.content h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #e5e7eb;
}

.content h3 {
  margin-top: 20px;
  font-size: 1.5em;
  color: #9f9797;
}

.matches {
  background-color: #4A4E69;
  margin: 8px 0;
  padding: 10px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  color: #e5e7eb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.matches:hover{
  background-color: #455839;
}
/* 

.seeContests {
  color: #e5e7eb;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background-color: #148510;
  border:none;
} */

.seeContests:hover{
  color: #148510;
  background-color: #e5e7eb;
}
